a{
  text-decoration: none;
}

.wrapper{

    margin-top: 10vw;
    min-width: 300px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
  }
  
  .title{
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 10;
    letter-spacing: 5px; /* Increase letter spacing */
    text-align: center;
  }
  
  .desc{
    font-family: Gadugi, sans-serif;
    font-size: 24px;
    text-align: center;
  }
  
  .contact{
    margin-top: 110px;
    background-color: #62c080;
    color: white;
    font-size: 18px;
    transition-duration: 0.3s;
  }
  
  .contact:hover{
    background-color: white;
    color: #62c080;
  }

  @media only screen and (max-width: 1100px){
    .title{
      font-size: 8vw;
    }

    .desc{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 3vw;
    }

    .contact{
      font-size: 3vw;
    }

  }


  @media only screen and (max-width: 500px){
    .wrapper{
      height: auto;
    }

    .contact{
      margin-bottom: 50vw;
    }
  }
