.wrapper{
    min-width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title{
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 10;
    letter-spacing: 5px; /* Increase letter spacing */
  }
  
  .desc{
    font-family: Gadugi, sans-serif;
    font-size: 24px;
    text-align: center;
  }
  
  .contact{
    background-color: #62c080;
    color: white;
    margin-top: 100px;
    font-size: 18px;
    transition-duration: 0.3s;
  }
  
  .contact:hover{
    background-color: white;
    color: #62c080;
  }