<div class="loader"></div>
<div class="wrapper">
    <p class="title">Team</p>
    <!--<div class="elements">
      <div class="item" *ngFor="let per of person">
        <div class="portrait"><img src="{{per.img}}"></div>
        <div class="description">
          <p class="name">{{per.name}}</p>
          <p class="profession">{{per.profession}}</p>
          <button mat-button class="more" (click)="openDialog(per.name, per.desc, per.profession)">Mehr</button>
        </div>
      </div>
    </div>-->
    <div class="description">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis totam rerum labore enim sint praesentium sit magnam perferendis! Placeat delectus maiores aliquid consequuntur rerum beatae ex odio consectetur omnis eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias assumenda, magni in incidunt eveniet ab ratione, corporis aspernatur inventore repudiandae ex esse quia eos repellendus impedit? Modi ad ducimus eum.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti doloribus voluptas pariatur ad quae excepturi, molestiae, itaque fuga autem iure culpa quibusdam voluptatibus, dicta vero provident maxime. Ea, fugiat ad.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique sequi dolore cumque consequuntur commodi enim dolorum voluptates ut, laudantium dignissimos, eligendi rem, quis ex laborum inventore necessitatibus quod. Assumenda, minima.
      </p>
    </div>
  </div>