<div class="loader"></div>
<div class="wrapper">
    <p class="title">Team</p>
    <!--<div class="elements">
      <div class="item" *ngFor="let per of person">
        <div class="portrait"><img src="{{per.img}}"></div>
        <div class="description">
          <p class="name">{{per.name}}</p>
          <p class="profession">{{per.profession}}</p>
          <button mat-button class="more" (click)="openDialog(per.name, per.desc, per.profession)">Mehr</button>
        </div>
      </div>
    </div>-->
    <div class="description">
      <p>Classroombooster wurde auf Initiative von zwei Masterstudenten der ETH Zürich gegründet. Seitdem dürfen wir auf ein kontinuierlich wachsendes und sorgfältig geprüftes Team von Tutorinnen und Tutoren zählen. 
        Unsere Tutorinnen und Tutoren sind hauptsächlich höhersemestrige Studierende der ETH Zürich. Seit 2023 haben wir uns auf Online-Unterricht und die MINT-Fächer spezialisiert.
      </p>
    </div>
</div>
