<mat-toolbar class="toolbar">
    <div class="logo">
      <img src="../../../assets/logo-icon.png" class="logo-img" alt="logo">
      <span style="padding: 8px">Classroombooster</span>
    </div>
    <div class="nav">
        <a class="nav-item" (click)="navigateTo('home')"><mat-icon style="padding-right: 5px" >home</mat-icon>Home</a>
        <a class="nav-item" (click)="navigateTo('about')"><mat-icon style="padding-right: 5px">person</mat-icon> Über uns</a>
        <a class="nav-item" (click)="navigateTo('offer')"><mat-icon style="padding-right: 5px">local_offer</mat-icon>Angebot</a>
        <a class="nav-item" (click)="navigateTo('contact')"><mat-icon style="padding-right: 5px">contact_mail</mat-icon>Kontakt</a>
    </div>
</mat-toolbar>