<div class="wrapper">
    <div class="welcome">
      <p>WILLKOMMEN ZU</p>
      <p>CLASSROOMBOOSTER</p>
    </div>
    <div class="dienstleitung-wrapper">
      <div class="bild">
        <img src="../../../assets/class.jpg">
      </div>
      <div class="description">
        <p class="title">ÜBER UNSERE</p>
        <p class="title">DIENSTLEISTUNGEN</p>
        <p class="desc">Wir bei Classroombooster sind bestrebt, jede Sitzung individuell auf die Bedürfnisse unserer Studenten abzustimmen. Jede Sitzung ist flexibel und so gestaltet, dass Schülerinnen und Schüler nicht nur ihre täglichen Aufgaben dort erledigen können, sondern auch eine umfassende Anleitung zum Lernen erhalten. Wir tun dies auf die effektivste Art und Weise, indem wir das Fachgebiet beherrschen und lebenslanges, professionelles Vertrauen aufbauen.
          Kontaktieren Sie uns noch heute und lassen Sie sich von uns beraten.</p>
        <a href="mailto:info.classroombooster@gmail.com"><button mat-button><mat-icon>contact_mail</mat-icon> Kontakt aufnehmen</button></a>
      </div>
    </div>
  </div>