<div class="loader"></div>
<div class="wrapper">
  <div class="welcome">
    <p class="welcome-top">WILLKOMMEN ZU</p>
    <p>CLASSROOMBOOSTER</p>
  </div>
  <div class="dienstleitung-wrapper">
    <div class="bild">
      <img src="../../../assets/class.jpg">
    </div>
    <div class="description">
      <p class="title">ÜBER UNSERE</p>
      <p class="title">DIENSTLEISTUNGEN</p>
      <p class="desc">Wir bei Classroombooster setzen alles daran, jede Sitzung individuell auf die Bedürfnisse unserer Schülerinnen und Schüler sowie Studierenden abzustimmen. 
        Dank unserer fachlichen und sozialen Kompetenzen können wir jede Sitzung so gestalten, dass Kundinnen und Kunden maximal profitieren können.
        Kontaktieren Sie uns noch heute und profitieren Sie von einer vergünstigten Probelektion.</p>
      <a href="mailto:info.classroombooster@gmail.com"><button mat-button><mat-icon>contact_mail</mat-icon> Kontakt
          aufnehmen</button></a>
    </div>
  </div>
</div>
