<div class="loader"></div>
<div class="wrapper">
    <div class="subjects">
    <p>Fächer</p>
  
  <div class="elements">
    <div class="item" *ngFor="let sub of subjects">
      <div class="banner"><img src="{{sub.img}}"></div>
      <div class="description">
        <span class="school">{{sub.school}}</span>
        <div class="sub" *ngFor="let it of sub.subjects">
          <span>{{it}}</span>
        </div>
      </div>
    </div>
  </div>
      <span class="anfragen">Anfragen für Nachhilfe in Mathematik oder Informatik aus anderen Studiengängen müssen individuell geprüft werden.</span>
    </div>
    <div class="price">
      <p class="title">Preis: <strong>90Fr./h </strong></p>
    </div>
  
    <div class="angebot">
      <p class="school" style="padding-top: 30px; font-size: 40px; color: white">Angebot</p>
      <p class="angebot-text">Wir von Classroombooster sind der Meinung, jede Prüfung kann bestanden werden. Wir wissen aber auch, dass der Aufwand für diesen Erfolg von Person zu Person variieren kann.
        Als Studierende in fortgeschrittener Ausbildung sind uns dass Wissen, die Tricks und Kniffs noch gut bekannt. Gerne helfen wir, 
        dass auch Du ohne Stress und Angst deine Prüfungen ablegen kannst. Classroombooster legt dabei den Schwerpunkt auf MINT-Fächer. 
        Eine genaue Auflistung der Fächer kann unserer Website entnommen werden. Wir sind bestrebt, das Fächerangebot fortlaufend auszubauen.
        Konkret: Wir bieten ca. wöchentlich 60 Minuten Nachhilfe per Zoom in den Fächern, die dir unruhige Nächte verursachen. 
        Dies auf Universitäts- oder Gymnasialniveau. Du stellst uns im Voraus deine Unterlagen zu. Das erlaubt uns, deine 60 Minuten perfekt an die Anforderungen anzupassen.</p>
    </div>
  
  </div>
